{% extends 'blank_layout.html' %}

{% block menu %}
{% include 'menu.html' %}
{% endblock %}


{% block content %}
{% load static %}
{% load multiply %}
{% load total %}
{% load subtotal %}
{% if cart and cart.added_items.all %}
<div class="small-container cart-page">
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>

        {% for cart_item in cart.added_items.all %}
        <tr>
            <td>
                <div class="cart-info">
                    <img src="{{ cart_item.product.image.url }}">
                    <div>
                        <p>{{ cart_item.product.title }}</p>
                        <small>Price: ${{ cart_item.product.price }}</small>
                        <br>
                        <small>Size: {{ cart_item.size }}</small>
                        <a href="{% url 'remove_item' cart_item.id %}">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" disabled value="{{ cart_item.quantity }}"></td>
            <td>${% multiply cart_item.quantity cart_item.product.price %}</td>
        </tr>
        {% endfor %}

    </table>
    <div class="total-price">
        <table>
            <tr>
                <td>Subtotal</td>
                <td>${% subtotal cart %}</td>
            </tr>
            <tr>
                <td>Discount</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>${% total cart 10 %}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <form method="post" enctype="multipart/form-data" action="{% url 'checkout' %}">
                        {% csrf_token %}
                        <input type="hidden" name="total" value="{% total cart 10 %}">
                        <button type="submit" class="btn">Checkout</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
{% else %}
<div class="empty-cart-title">
<p>Cart is Empty.</p>
<img src="{% static 'images/empty_cart_img.png' %}" class="col-2 img">
</div>
{% endif %}

{% if messages %}
{% for msg in messages %}
<p>{{ msg }}</p>
{% endfor %}
{% endif %}

{% endblock %}